{{> head }}
{{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>HELLO THERE!!!</h1>
    </div>

    <div class="class-4">
        <img class="img-thumbnail" src="/assets/img/mass_effect_andromeda_juegos.jpg" alt="mass_effect_andromeda_juegos.jpg">
    </div>
</div>

{{> footer }}